html
  head
    title Workload-Manager
    style
      include style.css
  body
    h1 Workload-Manager
    div#content
      table
        tr
          th Entwickler
          th Block 1
          th Block 2
          th Block 3
          th Block 4
          tr
            td: a(href='/blockieren/?ma=1') Entwickler 1
            td.free Frei
            td.blocked Blockiert
            td.blocked Blockiert
            td.free Frei
          tr
            td: a(href='/blockieren/?ma=2') Entwickler 2
            td.blocked Blockert
            td.free Frei
            td.blocked Blockiert
            td.free Frei
          tr
            td: a(href='/blockieren/?ma=3') Entwickler 3
            td.blocked Blockiert
            td.free Frei
            td.free Frei
            td.free Frei
          tr
            td: a(href='/blockieren/?ma=4') Entwickler 4
            td.blocked Blockiert
            td.blocked Blockiert
            td.blocked Blockiert
            td.free Frei
          tr
            td: a(href='/blockieren/?ma=5') Entwickler 5
            td.blocked Blockiert
            td.free Frei
            td.blocked Blockiert
            td.blocked Blockiert
          tr
            td: a(href='/blockieren/?ma=6') Entwickler 6
            td.free Frei
            td.free Frei
            td.free Frei
            td.free Frei
          tr
            td: a(href='/blockieren/?ma=7') Entwickler 7
            td.blocked Blockiert
            td.blocked Blockiert
            td.free Frei
            td.free Frei
          tr
            td: a(href='/blockieren/?ma=8') Entwickler 8
            td.free Frei
            td.blocked Blockiert
            td.blocked Blockiert
            td.free Frei
