body
{
    background-color:#F6F4F5;
    font-size:12;
}

td
{
    margin: 10px;
}

.blocked, .free
{
    text-align: center;
}

.free
{
	background-color:green;
}

.blocked
{
	background-color:red;
}

.forminput
{
    width:20%;
    margin-bottom:20px;
}

input
{
    float:right;
}

